#### Regras:
* A avaliação é individual
* O prazo para entrega é 29/03, 15h30 (final da aula)
* Não utilize internet além das documentações oficiais do Python
* Ao completar envie para ana.mees@ipm.com.br
* Boa sorte! Os resultados também irão nos guiar nas próximas aulas

### Questão 1 - Fermat

In [1]:
def check_fermat (a : int , b : int , c: int , n : int):
    if(n > 2):
        if(a**n + b**n != c**n):
            print ('Ok, ele estava certo.')
        else:
            print ('Fermat estava errado!')
    else:
        print('Insira um valor para n maior que 2')

check_fermat(1,1,1,3);

Ok, ele estava certo.

### Questão 2 - Manipulação com listas

In [24]:
# Primeira parte
lista = []
pos = 10
while (pos < 105): # até 104
    lista.insert(0,pos) # inserir ao contrário
    pos += 1
print(lista)

# Segunda parte
# Retorne a soma de todos os números da lista em posições pares e os últimos 5 números.

# Somar pares
soma, d = 0, 0
while(d < (len(lista)-5)):
    soma += lista[d]
    d += 2 #pares

# Somar últimos 5
for i in range((len(lista)-5),len(lista),1):
    print(lista[i]) #debug
    soma += lista[i]
print (soma)

[104, 103, 102, 101, 100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]
14
13
12
11
10
2760

### Questão 3 - Par inverso

In [6]:
def par_inverso (a : str , b : str):
    c = list(a.upper())
    c.reverse()
    d = list(b.upper())
    if (c == d):
        return True
    else:
        return False

print(par_inverso('Luiza', 'aziul'))

True

### Questão 4 - Nome na vertical

In [ ]:
def nome_vertical(nome : str):
    nome = list(nome)
    for n in nome:
        print(n)

nome_vertical(input('Qual seu nome?'))

### Questão 5 - Número de telefone

In [26]:
# Resposta do Emanuel!
def num_tel(num : str):
    num = list(num)
    num.reverse()
    if(num[4] == '-'):
        num.reverse()
        while(len(num) < 10):
            num.insert(0,'9')
    else:
        num.reverse()
        while(len(num) < 9):
            num.insert(0,'9')
    print(''.join(num))

num_tel('9112-4613')

99112-4613

### Questão 6 - Gerador automático de senhas

In [27]:
# Resposta do Luiz!

import random

def senha_builder(num_senhas, tamanho):

    if not isinstance(num_senhas, int) or not isinstance(tamanho, int):
        print('Inputs devem ser numéricos')
        return
    
    if tamanho < 5:
        print('Tamanho da senha deve ser 5 ou mais.')
        return    

    banco_caracteres_especiais = ['!','@','#','$','%','¨','&','*','(',')']
    banco_numeros = ['1','2','3','4','5','6','7','8','9','0']
    banco_letras = ['a','b','c','d','e','f','g','h','j','k']

    banco = []

    banco.append(banco_caracteres_especiais)
    banco.append(banco_numeros)
    banco.append(banco_letras)

    senhas = []

    for x in range(num_senhas):        

        senha = ''
        senha += banco_caracteres_especiais[random.randint(0, 9)]
        senha += banco_numeros[random.randint(0, 9)]
        senha += banco_numeros[random.randint(0, 9)]
        senha += banco_letras[random.randint(0, 9)]
        senha += banco_letras[random.randint(0, 9)]

        while len(senha) < tamanho:
            senha += banco[random.randint(0,2)][random.randint(0,9)]
        
        senhas.append(senha)

    for senha in senhas:
        print('Senha gerada: '+senha)


senha_builder(5, 10)

Senha gerada: *21jgbe)dd
Senha gerada: *12fc*jbj0
Senha gerada: $67kh$0c09
Senha gerada: @87hd9)b3!
Senha gerada: )33dj)72¨)

### Questão 7 - Dataframes!

In [29]:
import pandas as pd

produtos = {'registro_produto': ['laptop', 'impressora', 'tablet', 'mesa', 'cadeira'],
        'preço': [1200, 150, 300, 450, 200]}

df_produtos = pd.DataFrame(produtos, index=['produto_1', 'produto_2', 'produto_3', 'produto_4', 'produto_5'])
df_produtos

          registro_produto  preço
produto_1           laptop   1200
produto_2       impressora    150
produto_3           tablet    300
produto_4             mesa    450
produto_5          cadeira    200

In [30]:
import pandas as pd

vendas = {'registro_produto': ['laptop', 'tablet', 'laptop', 'mesa', 'cadeira', 'mesa', 'tablet', 'cadeira', 'cadeira', 'laptop', 'tablet', 'cadeira'],
        'data': ['03/05/2023', '17/11/2022', '09/08/2022', '14/05/2023', '23/07/2021', '09/09/2021', '19/08/2023', '23/07/2021', '23/07/2021', '09/08/2022', '24/01/2021', '18/03/2023']}

df_vendas = pd.DataFrame(vendas, index=['venda_1', 'venda_2', 'venda_3', 'venda_4', 'venda_5', 'venda_6', 'venda_7', 'venda_8', 'venda_9', 'venda_10', 'venda_11', 'venda_12'])
df_vendas

         registro_produto        data
venda_1            laptop  03/05/2023
venda_2            tablet  17/11/2022
venda_3            laptop  09/08/2022
venda_4              mesa  14/05/2023
venda_5           cadeira  23/07/2021
venda_6              mesa  09/09/2021
venda_7            tablet  19/08/2023
venda_8           cadeira  23/07/2021
venda_9           cadeira  23/07/2021
venda_10           laptop  09/08/2022
venda_11           tablet  24/01/2021
venda_12          cadeira  18/03/2023

a) Incorpore uma coluna ao df_produtos com a receita total de cada produto por ano, ou seja, uma coluna com o ano 2021, outra com 2022 e outra com 2023 para cada produto.

In [31]:
# Resposta do Giancarlo!

vendas_produto = df_vendas.merge(
    df_produtos,
    right_on='registro_produto',
    left_on='registro_produto', 
    how='left'
)
vendas_produto['data'] = pd.to_datetime(vendas_produto['data'], format="%d/%m/%Y", dayfirst=True)
vendas_produto['ano'] = vendas_produto['data'].dt.strftime("%Y")
vendas_produto_agrupado = vendas_produto.groupby(['registro_produto', 'ano']).sum('preço')
vendas_produto_agrupado = vendas_produto_agrupado.reset_index()
itensPorAno = vendas_produto_agrupado.pivot(index="registro_produto", columns="ano", values="preço").reset_index()
df_produtos_vendas = df_produtos.merge(
    itensPorAno,
    right_on='registro_produto',
    left_on='registro_produto', 
    how='left'
)
df_produtos_vendas = df_produtos_vendas.fillna(0)
df_produtos_vendas

  registro_produto  preço   2021    2022    2023
0           laptop   1200    0.0  2400.0  1200.0
1       impressora    150    0.0     0.0     0.0
2           tablet    300  300.0   300.0   300.0
3             mesa    450  450.0     0.0   450.0
4          cadeira    200  600.0     0.0   200.0

b) Qual foi a receita total nesses 3 anos?

In [38]:
# Ana
df_total = df_produtos_vendas.drop(['registro_produto', 'preço'], axis=1)
df_total = df_total.sum(axis = 1).sum(axis = 0) # Somar horizontal, depois vertical
print("A receita total nos 3 anos foi de R$ " + str(df_total))

A receita total nos 3 anos foi de R$ 6200.0