#### Regras:
* A avaliação é individual
* O prazo para entrega é 29/03, 15h30 (final da aula)
* Não utilize internet além das documentações oficiais do Python
* Ao completar envie para ana.mees@ipm.com.br
* Boa sorte! Os resultados também irão nos guiar nas próximas aulas

### Questão 1 - Fermat

### Questão 2 - Manipulação com listas

### Questão 3 - Par inverso

### Questão 4 - Nome na vertical

### Questão 5 - Número de telefone

### Questão 6 - Gerador automático de senhas

### Questão 7 - Dataframes!

In [7]:
import pandas as pd

produtos = {'registro_produto': ['laptop', 'impressora', 'tablet', 'mesa', 'cadeira'],
        'preço': [1200, 150, 300, 450, 200]}

df_produtos = pd.DataFrame(produtos, index=['produto_1', 'produto_2', 'produto_3', 'produto_4', 'produto_5'])
df_produtos

          registro_produto  preço
produto_1           laptop   1200
produto_2       impressora    150
produto_3           tablet    300
produto_4             mesa    450
produto_5          cadeira    200

In [6]:
import pandas as pd

vendas = {'registro_produto': ['laptop', 'tablet', 'laptop', 'mesa', 'cadeira', 'mesa', 'tablet', 'cadeira', 'cadeira', 'laptop', 'tablet', 'cadeira'],
        'data': ['03/05/2023', '17/11/2022', '09/08/2022', '14/05/2023', '23/07/2021', '09/09/2021', '19/08/2023', '23/07/2021', '23/07/2021', '09/08/2022', '24/01/2021', '18/03/2023']}

df_vendas = pd.DataFrame(vendas, index=['venda_1', 'venda_2', 'venda_3', 'venda_4', 'venda_5', 'venda_6', 'venda_7', 'venda_8', 'venda_9', 'venda_10', 'venda_11', 'venda_12'])
df_vendas

         registro_produto        data
venda_1            laptop  03/05/2023
venda_2            tablet  17/11/2022
venda_3            laptop  09/08/2022
venda_4              mesa  14/05/2023
venda_5           cadeira  23/07/2021
venda_6              mesa  09/09/2021
venda_7            tablet  19/08/2023
venda_8           cadeira  23/07/2021
venda_9           cadeira  23/07/2021
venda_10           laptop  09/08/2022
venda_11           tablet  24/01/2021
venda_12          cadeira  18/03/2023

a) Incorpore uma coluna ao df_produtos com a receita total de cada produto por ano, ou seja, uma coluna com o ano 2021, outra com 2022 e outra com 2023 para cada produto.

b) Qual foi a receita total nesses 3 anos?